.cart-modal {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.cart-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fafafa;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  padding: 30px;
  font-size: 15px;
  width: 500px;
  height: 100%;
}

.cart-first-line {
  margin: 50px 0px 20px 0px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #787879;
}

.cart-items {
  overflow: auto;
}

.product-summary {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px 0px 10px 0px;
  border-bottom: 1px solid #787879;
}

.product-img {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
}

.product-name {
  justify-self: center;
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  font-weight: bold;
}

.product-price {
  grid-column: 3 / 4;
  grid-row: 1 / 1;
}

.product-quantity {
  border: 1px solid #787879;
  justify-self: center;
  align-self: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  vertical-align: middle;
}

.product-cost {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  font-weight: bold;
}

.quantity-buttons {
  border: none;
  background: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.quantity-buttons:hover {
  background-color: #e4e4e7;
  cursor: pointer;
}

.cart-bottom {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #787879;
  margin-top: auto;
  padding: 10px 0px 10px 0px;
  gap: 10px;
  font-weight: bold;
}

.subtotal {
  display: flex;
  justify-content: space-between;
}

.checkout-button {
  background-color: #27272a;
  font-family: 'Montserrat', sans-serif;
  color: #e4e4e7;
  padding: 15px;
  border: none;
  font-weight: bold;
  font-size: 12px;
}

.checkout-button:hover {
  background-color: #444447;
  cursor: not-allowed;
}

.close-cart-button {
  background: none;
  border: none;
  font-size: 20px;
}

.close-cart-button:hover {
  color: #dc2626;
  cursor: pointer;
}
