.product-card {
  width: 300px;
  height: 340px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.product-imgs {
  width: 300px;
  height: 250px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.name-price-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.cart-details-container {
  display: flex;
  justify-content: space-between;
}

.quantity-container {
  display: flex;
  justify-content: space-between;

  gap: 10px;
  border: 1px solid black;
  width: 85px;
}

.quantity-buttons {
  border: none;
  background: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.quantity-buttons:hover {
  background-color: #e4e4e7;
  cursor: pointer;
}

.product-quantity {
  align-self: center;
}

.add-to-cart-button {
  border: none;
  background-color: #3f3f46;
  color: #fafafd;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

.add-to-cart-button:hover {
  background-color: #57575f;
  cursor: pointer;
}
