.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.products-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
