body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 36%,
    rgba(233, 221, 174, 1) 91%,
    rgba(2, 0, 36, 1) 234%,
    rgba(16, 67, 109, 1) 34234%
  );
  background-size: cover;
  position: relative;
  color: #111827;
}

.active {
  color: red;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fafb;
  padding: 20px;
  border-bottom: 1px solid #111827;
}

.shop-title {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: 200;
}

.right-nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icons {
  width: 30px;
  height: 30px;
  padding-bottom: 10px;
}
